In [52]:
import pandas as pd

In [53]:
# Importing data
xls = pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx')

Transactions = pd.read_excel(xls, 'Transactions', skiprows=1)
NewCustomerList = pd.read_excel(xls, 'NewCustomerList', skiprows=1)
Demographic = pd.read_excel(xls, 'CustomerDemographic', skiprows=1)
Address = pd.read_excel(xls, 'CustomerAddress', skiprows=1)

In [54]:
Transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [55]:
# Assuming Transactions is a DataFrame containing the 'product_first_sold_date' column

Transactions['product_first_sold_date'] = pd.to_timedelta(Transactions['product_first_sold_date'], unit='D') + pd.Timestamp('1900-01-01')
today_date = pd.Timestamp('2018-01-01')  # Set today's date as 2018-01-01
# Calculate the difference between today's date and the reference date
date_difference = pd.Timestamp.today() - today_date

# Subtract the date difference from the product_first_sold_date
Transactions['product_first_sold_date'] = Transactions['product_first_sold_date'] - date_difference

In [57]:
# Make a product age column
Transactions["product_age"] = ((today_date - Transactions["product_first_sold_date"]).dt.days // 365.25)

In [58]:
Transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,product_age
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,2007-05-26 07:43:24.659943,10.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2008-08-24 07:43:24.659943,9.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1994-01-10 07:43:24.659943,23.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1993-06-08 07:43:24.659943,24.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2010-01-31 07:43:24.659943,7.0